@import url(./styles/var.css);
@import url(./styles/globals.css);
@import url(./styles/normalize.css);
@import url(./styles/fonts.css);
@import url(./styles/header.css);
@import url(./styles/menu.css);
@import url(./styles/product_card.css);
@import url(./styles/product_sections.css);
@import url(./styles/card_content.css);
@import url(./styles/tag.css);
@import url(./styles/events.css);
@import url(./styles/footer.css);











