html {
  min-width: 1440px;
}

.visible-hiden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

body {
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1312px;
}

.button {
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.section {
  padding-block: 32px;
}

section:last-child {
  padding-bottom: 64px;
}