
.menu {
  padding-block: 32px;
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 32px;
} 

.menu__item-link {
  display: block;
  position: relative;
  border-radius: 16px;
  overflow: hidden; 
}

.menu__img-wrapper {
  position: relative;
  display: block;
}

.menu__item-img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 16px;
  object-fit: cover;
}

.menu__gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  background: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

.menu__item-title {
  position: absolute;
  bottom: 16px;
  left: 16px;
  color: #fff;
  z-index: 2; 
  margin: 0;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}
